<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>天天生鲜-首页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/slide.js"></script>
</head>
<body>


<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到天天生鲜!</div>
        <div class="fr">

        {{if compare .username ""}}
            <div class="login_btn fl">
                <a href="/login">登录</a>
                <span>|</span>
                <a href="/register">注册</a>
            </div>
        {{else}}
            <div class="login_btn fl">
                欢迎您：<em>{{.username}}</em>
                <span>|</span>
                <a href="/user/logout">退出</a>
            </div>

        {{end}}


            <div class="user_link fl">
                <span>|</span>
                <a href="/user/userCenterInfo">用户中心</a>
                <span>|</span>
                <a href="/user/myCart">我的购物车</a>
                <span>|</span>
                <a href="/user/userCenterOrder">我的订单</a>
            </div>
        </div>
    </div>
</div>

<div class="search_bar clearfix">
    <a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
    <div class="search_con fl">
        <form action="/goodsSearch" method="post">
            <input type="text" class="input_text fl" name="goodsName" placeholder="搜索商品">
            <input type="submit" class="input_btn fr" name="" value="搜索">
        </form>
    </div>
    <div class="guest_cart fr">
        <a href="/user/myCart" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count">{{.cartCount}}</div>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">全部商品分类</h1>
        <ul class="navlist fl">
            <li><a href="">首页</a></li>
            <li class="interval">|</li>
            <li><a href="">手机生鲜</a></li>
            <li class="interval">|</li>
            <li><a href="">抽奖</a></li>
        </ul>
    </div>
</div>

<div class="center_con clearfix">
    <ul class="subnav fl">
	{{range .goodsTypes}}
        <li><a href="/goodsList?typeId={{.Id}}" class="{{.Logo}}">{{.Name}}</a></li>
	{{end}}

    </ul>
    <div class="slide fl">
        <ul class="slide_pics">
		{{range .indexGoodsBanner}}
            <li><img src="http://192.168.100.9:8888/{{.Image}}" alt="幻灯片"></li>
		{{end}}

        </ul>
        <div class="prev"></div>
        <div class="next"></div>
        <ul class="points"></ul>
    </div>
    <div class="adv fl">
	{{range .indexPromotionBanner}}
        <a href="{{.Url}}"><img src="http://192.168.100.9:8888/{{.Image}}"></a>
	{{end}}
    </div>
</div>


{{range .goods}}
<div class="list_model">
    <div class="list_title clearfix">
        <h3 class="fl" id="model01">{{.type.Name}}</h3>
        <div class="subtitle fl">
            <span>|</span>

		{{range .textGoods}}
            <a href="/goodsDetail?id={{.GoodsSKU.Id}}">{{.GoodsSKU.Name}}</a>
		{{end}}

        </div>
        <a href="/goodsList?typeId={{.type.Id}}" class="goods_more fr" id="fruit_more">查看更多 ></a>
    </div>

    <div class="goods_con clearfix">
        <div class="goods_banner fl"><img src="http://192.168.100.9:8888/{{.type.Image}}"></div>
        <ul class="goods_list fl">
		{{range .imgGoods}}
            <li>
                <h4><a href="/goodsDetail?id={{.GoodsSKU.Id}}">{{.GoodsSKU.Name}}</a></h4>
                <a href="/goodsDetail?id={{.GoodsSKU.Id}}"><img src="http://192.168.100.9:8888/{{.GoodsSKU.Image}}"></a>
                <div class="prize">¥ {{.GoodsSKU.Price}}</div>
            </li>
		{{end}}
        </ul>
    </div>
</div>
{{end}}


<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888    京ICP备*******8号</p>
</div>
<script type="text/javascript" src="js/slideshow.js"></script>
<script type="text/javascript">
    BCSlideshow('focuspic');
    var oFruit = document.getElementById('fruit_more');
    var oShownum = document.getElementById('show_count');

    var hasorder = localStorage.getItem('order_finish');

    if(hasorder)
    {
        oShownum.innerHTML = '2';
    }

    oFruit.onclick = function(){
        window.location.href = 'list.html';
    }
</script>
</body>
</html>