<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-提交订单</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">

			{{if compare .username ""}}
				<div class="login_btn fl">
					<a href="/login">登录</a>
					<span>|</span>
					<a href="/register">注册</a>
				</div>
			{{else}}
				<div class="login_btn fl">
					欢迎您：<em>{{.username}}</em>
					<span>|</span>
					<a href="/user/logout">退出</a>
				</div>

			{{end}}


				<div class="user_link fl">
					<span>|</span>
					<a href="/user/userCenterInfo">用户中心</a>
					<span>|</span>
					<a href="/user/myCart">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>
	</div>


    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="search_con fl">
            <form action="/goodsSearch" method="post">
                <input type="text" class="input_text fl" name="goodsName" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
        </div>
    </div>
	
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>

			{{range .addr}}
				<dd><input type="radio" name="addr" value="{{.Id}}" {{if .Isdefault }}checked{{end}} >{{.Addr}} （{{.Receiver}} 收） {{.Phone}}</dd>
			{{end}}
		</dl>
		<a href="/user/userCenterSite" class="edit_site">编辑收货地址</a>

	</div>
	
	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked value="1">
			<label class="cash">货到付款</label>
			<input type="radio" name="pay_style" value="2">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style" value="3">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style" value="4">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>

		{{range .goodsBuffer}}
			<ul class="goods_list_td clearfix">
				<li class="col01">{{.goods.Id}}</li>
				<li class="col02"><img src="http://192.168.100.9:8888/{{.goods.Image}}"></li>
				<li class="col03">{{.goods.Name}}</li>
				<li class="col04">{{.goods.Unite}}</li>
				<li class="col05">{{.goods.Price}}元</li>
				<li class="col06">{{.count}}</li>
				<li class="col07">{{.amount}}元</li>
			</ul>
		{{end}}


	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>{{.totalCount}}</em>件商品，总金额<b>{{.totalPrice}}元</b></div>
			<div class="transit">运费：<b>{{.transferPrice}}元</b></div>
			<div class="total_pay">实付款：<b>{{.realyPrice}}元</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn" skuids = "{{.skuids}}">提交订单</a>
	</div>	

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>

	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>
		
		<div class="mask"></div>
	</div>
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		$('#order_btn').click(function() {
		    //地址id，支付方式,商品id，总价格，运费，实际价格
			addrId = $('input[name="addr"]:checked').val()
			payId = $('input[name="pay_style"]:checked').val()
            skuids = $(this).attr('skuids')

            totalPrice = $('.total_goods_count b').text()
            totalPrice = parseInt(totalPrice)

            totalCount = $('.total_goods_count em').text()
            totalCount = parseInt(totalCount)

            transferPrice = $('.transit b').text()
            transferPrice = parseInt(transferPrice)

            realyPrice = $('.total_pay b').text()
            realyPrice = parseInt(realyPrice)

            param = {"addrId":addrId,"payId":payId,"skuids":skuids,"totalPrice":totalPrice,"transferPrice":transferPrice,"realyPrice":realyPrice,"totalCount":totalCount}

		    $.post('/user/addOrder',param,function (data) {
				if (data.code == 5) {
                    localStorage.setItem('order_finish',2);

                    $('.popup_con').fadeIn('fast', function() {

                        setTimeout(function(){
                            $('.popup_con').fadeOut('fast',function(){
                                window.location.href = '/user/userCenterOrder';
                            });
                        },3000)

                    });
				} else {
				    alert(data.errmsg)
				}
            })











		});
	</script>
</body>
</html>